@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: gray;
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between ;
    align-items: center;
}

h1 {
    padding: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.329);
    flex: 0 0 200px;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

a {
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

a:hover {
    color: black;
    background-color: white;
    transition-duration: .7s;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
    text-align: justify;
}